<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row class="ion-margin-vertical">
    <ion-col size="12">
      <ion-label>OTP</ion-label>
    </ion-col>
    <ion-col size="12">
      <ion-input
        class="custom-input"
        type="tel"
        [(ngModel)]="getOtpCode"
        maxlength="6"
        inputmode="numeric"
        placeholder="Enter your OTP here"
      ></ion-input>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button expand="full" (click)="checkOtp()">Submit OTP</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
