<ion-header>
  <ion-toolbar>
    <ion-title>New Victim</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formAdd" (ngSubmit)="addNew()">
    <ion-row class="ion-margin-vertical">
      <ion-col size="12">
        <ion-label>Name</ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-input
          class="custom-input"
          type="text"
          formControlName="name"
        ></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-vertical">
      <ion-col>
        <ion-button (click)="getPicture()">Picture</ion-button>
      </ion-col>
      <ion-col *ngIf="photo != null">
        <img [src]="photo" />
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-vertical">
      <ion-col size="12">
        <ion-label>Age</ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-input class="custom-input" type="number" formControlName="age">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-vertical">
      <ion-col size="12">
        <ion-label>Address</ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-input
          class="custom-input"
          type="text"
          formControlName="address"
        ></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-vertical">
      <ion-col size="12">
        <ion-label>Gender</ion-label>
      </ion-col>
      <ion-col size="12" class="ion-no-padding">
        <ion-radio-group formControlName="gender">
          <ion-col class="ion-no-padding" style="display: inline-flex">
            <ion-item
              lines="none"
              class="ion-no-padding"
              *ngFor="let item of items"
            >
              <ion-radio slot="start" value="{{ item.title }}"></ion-radio>
              <span *ngIf="item.name == 'Male'">Male</span>
              <span *ngIf="item.name == 'Female'">Female</span>
            </ion-item>
          </ion-col>
        </ion-radio-group>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-select
          class="custom-input"
          formControlName="location"
          [interfaceOptions]="customActionSheetOptionsC"
          interface="action-sheet"
        >
          <ion-select-option *ngFor="let loc of locations" [value]="loc.key"
            >{{ loc.name }}</ion-select-option
          >
        </ion-select>
        <!-- <ion-text color="danger" class="invalid-input" *ngIf="!f.city.valid && submitFlag">
          {{ 'SELECT_CITY2' | translate }}</ion-text
        > -->
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-vertical">
      <ion-col size="12">
        <ion-button expand="block" type="submit">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
