<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="formLogin" (ngSubmit)="login()">
    <div id="recaptcha-container" style="display: none"></div>
    <ion-row class="ion-margin-vertical">
      <ion-col size="12">
        <ion-label>Phone Number</ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-input
          class="custom-input"
          type="number"
          formControlName="phone_number"
        ></ion-input>
        <!-- <ion-text color="danger" class="invalid-input" *ngIf="formLogin.get('username').errors && submitted">
          {{ formLogin.controls.username.errors?.required?.message }} {{
          formLogin.controls.username.errors?.phonenumber?.message }} {{
          formLogin.controls.username.errors?.email?.message }} {{
          formLogin.controls.username.errors?.minLength?.message }}
        </ion-text> -->
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-vertical">
      <ion-col size="12">
        <ion-button expand="full" type="submit" [disabled]="submitted"
          >Login</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
