<ion-header>
  <ion-toolbar>
    <ion-title>Victim Report List</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!skeleton">
    <ion-item *ngFor="let victim of victimList" (press)="actions(victim.key)">
      <ion-thumbnail slot="start">
        <img [src]="victim.ref" />
      </ion-thumbnail>
      <ion-label>
        <h3>{{ victim.name }} ({{ victim.age }}{{ victim.gender }})</h3>
        <p>{{ victim.address }} {{ victim.location }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="skeleton">
    <ion-item *ngFor="let fake of fakeList">
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
