<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logoutPrompt()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row>
    <ion-col> heyo </ion-col>
  </ion-row>
  <div>
    <ion-row>
      <ion-col size="6">
        <ion-button class="half-screen" (click)="goto('list')"
          >view list</ion-button
        >
      </ion-col>
      <ion-col size="6">
        <ion-button class="half-screen" (click)="goto('add')">add</ion-button>
      </ion-col>
    </ion-row>
  </div>
  <ion-row *ngIf="userData == 'admin' && !loading">
    <ion-col>
      <ion-button class="full">statistics</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
